{% extends "base.html" %}
{% block content %}
<h3>Match Countries with Their Cities</h3>
<h4>Difficulty Selected {{difficulty}}</h4>
    <div class="container">
        <div id="countries" class="column">
            {% for country in countries %}
                <div class="draggable" draggable="true" id="{{ country|lower }}">{{ country }}</div>
            {% endfor %}
        </div>
        <div id="cities" class="column">
            {% for city, country in scrambled_cities %}
                <div class="droppable" data-match="{{ country|lower }}">{{ city }}</div>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/drag-drop.js') }}"></script>
{% endblock %}