{% extends "base.html" %}
{% block content %}
<h3>Match Countries with Their Cities</h3>
<h4>Chose {{filter_type}}</h4>
<h4>Selected {{filter_value}}</h4>
    <div class="question_vs_answer">
        <div id="countries" class="column">
            {% for country in countries %}
                <div class="draggable" draggable="true" id="{{ country}}">{{ country }}</div>
            {% endfor %}
        </div>
        <div id="cities" class="column">
            {% for city, country in scrambled_cities %}
                <div class="droppable" data-match="{{ city}}">{{ city }}</div>
            {% endfor %}
        </div>
    </div>
    </br>
    <button class="btn btn-primary" onclick="submitResults()">Submit</button>
    <button class="btn btn-primary" onclick="resetQuiz()">Reset</button>
    <script src="{{ url_for('static', filename='js/drag-drop.js') }}"></script>
{% endblock %}