{% extends "base.html" %}
{% block content %}
<div class="text-center mb-4">
    <h2>{{title}}</h2>
</div>

<div class="row">
    <div class="col-md-6 mb-4">
        <h5>Choose Quiz On Difficulty</h5>
        <form action="{{url_for('capitals_quiz')}}" method="post" class="d-flex flex-column align-items-start">
            <button class="btn btn-primary mb-2" type="submit" name="difficulty" value="easy">Easy</button>
            <button class="btn btn-primary mb-2" type="submit" name="difficulty" value="hard">Hard</button>
            <button class="btn btn-primary mb-2" type="submit" name="difficulty" value="random">Random</button>
        </form>
    </div>
    <div class="col-md-6 mb-4">
        <h5>Choose Quiz On Continent</h5>
    <form action="{{ url_for('capitals_quiz') }}" method="post" class="d-flex flex-column align-items-start">
        <button class="btn btn-primary mb-2" type="submit" name="continent" value="Asia">Asia</button>
        <button class="btn btn-primary mb-2" type="submit" name="continent" value="Africa">Africa</button>
        <button class="btn btn-primary mb-2" type="submit" name="continent" value="Europe">Europe</button>
        <button class="btn btn-primary mb-2" type="submit" name="continent" value="North America">North America</button>
        <button class="btn btn-primary mb-2" type="submit" name="continent" value="South America">South America</button>
        <button class="btn btn-primary mb-2" type="submit" name="continent" value="Oceania">Oceania</button>
    </form>
    </div>
</div>
{% endblock %}